<% include particals/header %>
<div class="ui text container">
	<form class="ui form" method="POST" action="/login">
		<div class="ui huge header"> Login </div>
		<div class="field">
			<label>Username</label>
			<input type="text" name="username" placeholder="eg: tieugum" value="tieugum">
		</div>
		<div class="field">
			<label>Password</label>
			<input type="password" name="password" placeholder="enter password" value="hoainam1234">
		</div>
		
		<button class="ui green button" type="submit">Login</button>
	</form>
</div>
<% include particals/footer %>