<% include particals/header %>
<div class="ui text container context">
	<div class="ui huge header"> Create New Post </div>

	<form class="ui form" method="POST" action="/post/new">
		<div class="field">
			<label>Title</label>
			<input type="text" name="title" placeholder="eg: Tiêu đề 1">
		</div>
		<div class="field">
			<label>Images</label>
			<input type="text" name="image" placeholder="eg: //i.imgur.com/zi9dglU.jpg">
		</div>
		<div class="field">
			<label>Content</label>
			<textarea name="content" cols="30" rows="10" placeholder="Markdown Editor"></textarea>
		</div>
		<button class="ui green button" type="submit">Create Post</button>
	</form>
</div>
<% include particals/footer %>